examples/example.json
[
  {
    "id": "e1660f8.bd124f",
    "type": "presence-faker",
    "z": "7b771bb2.2ecd54",
    "name": "",
    "onPayload": "true",
    "onPayloadType": "bool",
    "onTopic": "switch/me/on",
    "offPayload": "false",
    "offPayloadType": "bool",
    "offTopic": "switch/me/off",
    "windowBegin": "10:30",
    "windowEnd": "20:00",
    "minDurationHours": "0",
    "minDurationMinutes": "0",
    "minDurationSeconds": "1",
    "minDuration": "1",
    "maxDurationHours": "0",
    "maxDurationMinutes": "1",
    "maxDurationSeconds": "0",
    "maxDuration": "60",
    "minCount": "1",
    "maxCount": "1",
    "startupBehavior": "onMsg",
    "actionOnDisable": "off",
    "x": 460,
    "y": 440,
    "wires": [["ddfe6a44.6c5248"]]
  },
  {
    "id": "e07d9558.6f71a8",
    "type": "inject",
    "z": "7b771bb2.2ecd54",
    "name": "enable",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 420,
    "wires": [["e1660f8.bd124f"]]
  },
  {
    "id": "56d48516.f0511c",
    "type": "inject",
    "z": "7b771bb2.2ecd54",
    "name": "disable",
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 460,
    "wires": [["e1660f8.bd124f"]]
  },
  {
    "id": "ddfe6a44.6c5248",
    "type": "debug",
    "z": "7b771bb2.2ecd54",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 630,
    "y": 440,
    "wires": []
  },
  {
    "id": "340000ea.f8a8d",
    "type": "inject",
    "z": "7b771bb2.2ecd54",
    "name": "config",
    "topic": "",
    "payload": "{\"windowBegin\":\"00:00:00\",\"windowEnd\":\"23:59:59\",\"minDuration\":60,\"maxDuration\":600,\"minCount\":10,\"maxCount\":30}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 540,
    "wires": [["e1660f8.bd124f"]]
  }
]
