examples/example.json
[
  {
    "id": "7669281.da43cd8",
    "type": "presence-faker",
    "z": "56657d44.70f284",
    "name": "",
    "onPayload": "OnPayload",
    "onPayloadType": "str",
    "onTopic": "OnTopic",
    "offPayload": "OffPayload",
    "offPayloadType": "str",
    "offTopic": "OffTopic",
    "windowBegin": "07:30",
    "windowEnd": "17:30",
    "minDurationHours": 0,
    "minDurationMinutes": 0,
    "minDurationSeconds": "2",
    "minDuration": "2",
    "maxDurationHours": 0,
    "maxDurationMinutes": "0",
    "maxDurationSeconds": "5",
    "maxDuration": "5",
    "minCount": "100",
    "maxCount": "500",
    "startupBehavior": "onMsg",
    "actionOnDisable": "off",
    "x": 500,
    "y": 80,
    "wires": [["d4c9a433.de7cb8"]]
  },
  {
    "id": "147c4135.a3eeaf",
    "type": "inject",
    "z": "56657d44.70f284",
    "name": "enable",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 250,
    "y": 60,
    "wires": [["7669281.da43cd8"]]
  },
  {
    "id": "d4c9a433.de7cb8",
    "type": "debug",
    "z": "56657d44.70f284",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 690,
    "y": 80,
    "wires": []
  },
  {
    "id": "4dd68ce4.504304",
    "type": "inject",
    "z": "56657d44.70f284",
    "name": "disable",
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 250,
    "y": 100,
    "wires": [["7669281.da43cd8"]]
  },
  {
    "id": "f18f7345.fce32",
    "type": "inject",
    "z": "56657d44.70f284",
    "name": "overwrite complete config",
    "topic": "",
    "payload": "{\"windowBegin\":\"00:00\",\"windowEnd\":\"23:59:59\",\"minDuration\":60,\"maxDuration\":600,\"minCount\":10,\"maxCount\":30}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 190,
    "y": 200,
    "wires": [["7669281.da43cd8"]]
  },
  {
    "id": "8cbce822.20b088",
    "type": "inject",
    "z": "56657d44.70f284",
    "name": "overwrite only windowBegin",
    "topic": "",
    "payload": "{\"windowBegin\":\"01:30\"}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 240,
    "wires": [["7669281.da43cd8"]]
  }
]
